
<body>
  <section class="section1">


    <h2>Définition des portions</h2>

    <form [formGroup]="addPortionForm" (ngSubmit)="onSubmite(addPortionForm.value)" class="elt-port">


      <label class="elt-portion">Aliment</label>


      <select formControlName="nameP" class="elt-portion">
        <option [ngValue]="aliment" *ngFor="let aliment of alimentList">{{aliment.name}}</option>
      </select>

      <!--<div class="elt-portion"> -->
      <label for="weightP">Portion (g)</label>
      <input id="weightP" type="number" formControlName="weightP">
      <!--</div> -->

      <button class="button" type="submit">Ajouter</button>

    </form>

  </section>


  <section class="section2">

    <div class="charge-tot">
      <label id="label-output">Charge totale: </label>
      <output id="output-tot">{{portionTotal}}</output>
    </div>
    <br>

    <h2>Liste des portions ajoutées</h2>


    <table>
      <tr>
        <th>Nom de l'aliment</th>
        <th>Index glycémique</th>
        <th>Proportion de glucides(g)</th>
        <th>Charge glycémique calculée</th>
        <th>Supprimer</th>
      </tr>

      <tr *ngFor="let portion of portionList; index as j">
        <td>{{portion.name}}</td>
        <td>{{portion.ig}}</td>
        <td>{{portion.carbs}}</td>
        <td>{{portion.cg}}</td>
        <td><button (click)="deletePortion(j)">Supprimer</button></td>
      </tr>
    </table>

  </section>

</body>