/* You can add global styles to this file, and also import other style files */

/*************************top bar ************************/

app-top-bar h1 {
    text-align: center;

    width: 50%;
    margin:auto;
    padding: 0;
    background-color: goldenrod;

}

nav {
    background-color:gold;
    margin:auto;
    padding:0;
    width: 50%;

    border : solid 1px gold;

}

nav>ul {
    display: flex;
    flex-direction: row;

    list-style: none;

    margin:10px auto;
    width: 300px;
}

li {
    margin : 10px;
}

/*************************liste des aliments ************************/
app-aliment-list {
    color:white;
}

app-aliment-list body {

    background-color: dimgrey;
    width: 50%;
    margin:auto;
}

app-aliment-list h1 {

    margin:0;
    text-align: center;
    /*background-color:dimgray;*/
}

app-aliment-list h2 {


    text-align: center;
    background-color: grey;
    margin:0;

} 

app-aliment-list form {
    margin:auto;
    background-color: grey;
    /* width: 400px;*/
}


app-aliment-list .elt {
    display: flex;
    flex-direction: row;
}


app-aliment-list .elt input {
margin-left: auto;
}

app-aliment-list button {
    display: block;
    margin:auto;
}


app-aliment-list table {
    border-collapse: collapse;

    margin: 15px auto;
    background-color: grey;
}

app-aliment-list table, th, td {
    border: 1px solid goldenrod;
  }

  app-aliment-list  td>button {
      margin : 4px;
  }

  /*************************calculator ************************/

  app-calculator {
    color:white;
}

  app-calculator body {

    background-color: dimgrey;
    width: 50%;
    margin:auto;

    border : solid 1px dimgrey;
}

app-calculator .section1, .section2 {
    background-color: grey;

    padding:20px;
    margin-left:20px;
    margin-right:20px;
    margin-top:20px;
    margin-bottom: 20px;


  }

app-calculator h2 {
    text-align: center;
    /*background-color: grey; */
    margin:0;
}  

app-calculator .charge-tot {
  
    display:flex;
    flex-direction: row;
    justify-content: center;

} 

app-calculator #label-output {
    margin-right:10px;
}

app-calculator #output-tot {
    color : darkorange;

}

  app-calculator .elt-port {
    display: flex;
    flex-direction: row;
}

app-calculator  form {
    margin:auto;
    background-color: grey;
    width: 800px;
}

app-calculator table {
    border-collapse: collapse;

    margin: 15px auto;
    background-color: grey;
}

app-calculator table, th, td {
    border: 1px solid goldenrod;
  }

  app-calculator  td>button {
      margin : 4px;
  }



  

  






  
